aside {
    z-index: 1021;
}
.aside>.aside-content {
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 226px;
    min-width: 226px;
    height: 100%;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    position: relative;
    overflow: hidden;
}
body.layout-left-navigation #aside .aside-content {
    margin-left: 0;
}
.bg-primary-700.text-auto {
    background-color: #2D323E !important;
    color:#fff;
}

.aside>.aside-content>.aside-toolbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 24px;
    padding-right: 16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    min-height: 64px;
    background-color: rgba(255,255,255,0.05);
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.aside>.aside-content>.aside-toolbar .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.aside>.aside-content>.aside-toolbar .logo .logo-icon {
    display: block;
    background: #039BE5;
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.aside>.aside-content>.aside-toolbar .logo .logo-text {
    margin-left: 16px;
    font-size: 16px;
}
body.layout-left-navigation #toggle-fold-aside-button {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
body #toggle-fold-aside-button {
    -webkit-transition: -webkit-transform .3s ease-in-out .1s;
    transition: -webkit-transform .3s ease-in-out .1s;
    -o-transition: transform .3s ease-in-out .1s;
    transition: transform .3s ease-in-out .1s;
    transition: transform .3s ease-in-out .1s, -webkit-transform .3s ease-in-out .1s;
}
.btn-icon {
    background: transparent;
    min-width: auto;
    min-width: initial;
    height: auto;
    line-height: normal;
    padding: .8px;
    -webkit-border-radius: 100% !important;
    border-radius: 100% !important;
}
.aside>.aside-content>#sidenav {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.custom-scrollbar {
    position: relative;
    overflow: hidden !important;
}
.nav {
    padding: 0;
}
.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.aside>.aside-content>#sidenav .subheader {
    white-space: nowrap;
}
.bg-primary-700.text-auto .nav .subheader{
    color: rgba(255,255,255,0.5);
}
.nav .subheader {
    height: 56px;
    min-height: 56px;
    color: #6C757D;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    padding-left: 24px;
}
body #sidenav .subheader>span {
    opacity: 1;
}
.nav li.nav-item {
    list-style: none;
}
.aside>.aside-content>#sidenav .nav-link {
    color: inherit;
    padding: 0.5rem 25px;
}
.nav-link [class^="icon-"] {
    margin-right: 16px;
}
.aside>.aside-content>#sidenav .nav-link>span {
    white-space: nowrap;
}
body #sidenav .nav-link>span {
    opacity: 1;
}
.nav-link>span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.bg-primary-700.text-auto #sidenav .nav-link:hover:not(.active){
    background: rgba(255,255,255,0.04) !important;
}
/*end of aside*/


.content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    margin-bottom: 30px;
}
.loginbtn-ctn {
    margin: 0 25px;
}
.loginbtn-ctn button{
    margin:0 5px;
}
#toolbar {
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    width: 100%;
    height: 64px;
    min-height: 64px;
    -webkit-transition: left 300ms ease, right 300ms ease;
    -o-transition: left 300ms ease, right 300ms ease;
    transition: left 300ms ease, right 300ms ease;
    position: relative;
    background:#12191f;
}

#toolbar .toggle-aside-button, #toolbar .search-button, #toolbar .quick-panel-button {
    height: 64px;
    width: 64px;
}

#toolbar .toolbar-separator {
    height: 64px;
    width: 1px;
    background: rgba(0,0,0,0.12);
}
.d-block {
    display: block !important;
}
.d-none {
    display: none !important;
}
.pl-0, .px-0 {
    padding-left: 0 !important;
}
.btn-icon {
    background: transparent;
    min-width: auto;
    min-width: initial;
    height: auto;
    line-height: normal;
    padding: 8px;
    -webkit-border-radius: 100% !important;
    border-radius: 100% !important;
}

.layout.layout-vertical>main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
html, body, body>main {
    overflow: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
}
main #wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: auto;
    position: relative;
    overflow: hidden;
}
main #toolbar{
    z-index: 1020;
}
.content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    position: relative;
    background:#131920;
    color: #fff;
}
.page-content-wrapper{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;

}
.page-content-wrapper> div:last-child{
    margin-bottom:30px;
}
.page-header {
    min-height: 160px;
}
.pl-6, .px-6 {
    padding-left: 24px !important;
}
.px-6{
    padding-right: 24px !important;
}
.pt-4, .py-4 {
    padding-top: 16px !important;
}
.tour-category .img-ctn{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}
.tour-category{
    border-radius: 6px;
    background: #1c2d41;
    padding: 15px;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
    display: inline-flex;
    width: 100%;
    margin-bottom:15px;
}
.myteam{
    border-radius: 6px;
    background: #1c202d;
    padding: 15px;
    /*-webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);*/
}
.team-category{
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid #807b7b;
    padding-bottom: 5px;
}
.teamplayer{
    border-bottom: 1px solid #807b7b;
    padding-bottom:15px;
}
.teamprestasi{
    margin:15px 0;
}
.invilink, .invilink:hover{
    color:inherit;
    text-decoration: none;
}

.tour-category p{
    margin-bottom: 0;
    font-weight: bolder;
}
.tour-category span{
    font-size: 12px;
}

.tour-category-in .img-ctn{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
}
.registered-team .img-ctn{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}
.team-category p{
    margin-bottom: 0;
    font-weight: bolder;
}
.team-category span{
    font-size: 12px;
}

.team-category .img-ctn{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}
.team-category .dvder{
    display: flex;
    align-items: center;
}
.tour-category-in{
    border-radius: 6px;
    background: #1c2d41;
    display: inline-flex;
    width: 100%;
    margin-top:10px;
}
.tour-category-in p{
    margin-bottom: 0;
    font-weight: bolder;
}
.tour-category-in span{
    font-size: 12px;
}
.registered-team{
    padding: 10px;
    border-radius: 6px;
    color: #1c2d41;
    background: #fff;
    display: inline-flex;
    width: 100%;
    margin: 10px 0;
}
.registered-team p{
    margin-bottom: 0;
    font-weight: bolder;
}
.registered-team .dvder{
    display: flex;
    align-items: center;
}
.registered-team span{
    font-size: 12px;
}
.dvder{
    margin-left:15px;
}
h6{
    margin-bottom:15px;
}
.tour{
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
    color: inherit;
    border: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    align-items: center;
    user-select: none;
    max-width: 600px;
    margin: 0 auto;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: #1c2d41;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border-radius:6px;
}
.j238 {
    height: 220px;
}
.j239 {
    height: 400px;
}
.tour-desc{
    margin-top: 15px;
}
.tour-desc h4{
    text-align: center;
    font-weight: 600;
}
.tour-desc p{
    margin-bottom:8px;
}
.tour-desc ul{
    list-style: none;
    padding-inline-start: 10px;
}
.tour-desc form{
    max-width: 300px;
    margin:0 auto;
}
.j242 {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.j234 {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    position:relative;
}
.tour-pricepool{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top:-10px;
    z-index: 1;
}
.edit-profil{
    background: #1c2d41;
    padding: 20px;
    color: #fff;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.tour-pricepool> div{
    display: inline;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 35px;
    background: #1c2d41;
    border-radius: 25px;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
}
.tour-pricepool .icon-winner{
    font-size: 23px;
    position: relative;
    top: 3px;
    right: 3px;
}
#myLogin .modal-content{
     background: #1d2730;
    color: #fff;
 }
#myLogin .close{
    text-shadow:none;
}
#myLogin .modal-header{
    border-bottom: none;
    display: inline-block;
}
#myLogin .modal-dialog{
    max-width:350px;
}
#myLogin .modal-body{

    padding: 15px 45px;
}

#mySignup .modal-content{
    background: #1d2730;
    color: #fff;
}
#mySignup .close{
    text-shadow:none;
}
#mySignup .modal-header{
    border-bottom: none;
    display: inline-block;
}
#mySignup .modal-dialog{
    max-width:350px;
}
#mySignup .modal-body{

    padding: 15px 45px;
}
.bank-ctn{
    width: 49%;
    margin-right: 1%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.bank{
    width: 100%;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.bank img{
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}
.bank span{
    margin: 0 4px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    color:#FF9800;
    font-size: 14px;
}
.countdown{
    display: inline-block;
    padding: 8px;
    margin: 5px 0;
    background: #009e23;
    border-radius: 4px;
}
.countdown div{
    display: inline-flex;
}
.countdown-time{
    color:#000;
    font-weight:bold;
    margin-left:10px;
}

/*profile card*/
.frame {
    position: relative;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    color: #786450;
    display: inline-block;
    width: 100%;
}

.center {
    height: 299px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.profile {
    float: left;
    width: 70%;
    height: 320px;
    text-align: center;
    background: #1c2d41;
    color: #fff;
}
.profile .image {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 38px auto 0 auto;
}
.profile .image .circle-1, .profile .image .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #fff #fff transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}
.profile .image .circle-2 {
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: #786450 transparent #786450 #786450;
}
.profile .image img {
    display: block;
    border-radius: 50%;
    background: #F5E8DF;
}
.profile .image:hover {
    cursor: pointer;
}
.profile .image:hover .circle-1, .profile .image:hover .circle-2 {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.profile .image:hover .circle-2 {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
.profile .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.profile .job {
    font-size: 11px;
    line-height: 15px;
}
.profile .job p{
    padding:0 4px;
    font-size: 12px;
}
.profile .actions {
    margin-top: 5px;
}
.profile .actions .btn {
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto 10px auto;
    background: none;
    border: 1px solid #fafafa;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    color: #fafafa;
}
.profile .actions .btn:hover {
    background: #3e3f49;
    color: #fff;
}

.stats {
    float: left;
    width:30%;
}
.stats .box {
    box-sizing: border-box;
    width: 100%;
    height: 99px;
    background: #114f94;
    color:#fff;
    text-align: center;
    padding-top: 28px;
    transition: all .4s ease-in-out;
}
.stats .box:hover {
    background: #1b5ca5;
    cursor: pointer;
}
.stats .box:nth-child(2) {
    margin: 1px 0;
}
.stats span {
    display: block;
}
.stats .value {
    font-size: 18px;
    font-weight: 600;
}
.stats .parameter {
    font-size: 11px;
}
.teamate {
    background: #1b2d41;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.teamate .nav-link {
    border-radius: 200px;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    background: #13191f;
    margin-right: 10px;
}
.teamate img {
    width:100%;
}
.slot-ctn{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #6d6d6d;
    font-size: 12px;
    font-weight: bold;
}
.slot-ctn .ttl-slot{
    float:left;
}
.slot-ctn .left-slot{
    float: right;
    color: #bfbfbf;
}
.clear{
    clear:both;
}
.mainbtn{
    width: 250px;
    background: #f53819;
    border-color: #f53819;
    color: #fff;
}
.mainbtn:hover{
    background: #ce270c;
    border-color: #ce270c;
    color: #fff;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
footer{

}
@media (min-width: 992px){
    .d-lg-none {
        display: none !important;
    }
}
@media (min-width: 768px){
    .d-md-flex {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}


@media (min-width: 576px){
    .pl-sm-2, .px-sm-2 {
        padding-left: 8px !important;
    }
    .pr-sm-2, .px-sm-2 {
        padding-right: 8px !important;
    }
}
