@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uhenf1');
  src:  url('fonts/icomoon.eot?uhenf1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uhenf1') format('truetype'),
    url('fonts/icomoon.woff?uhenf1') format('woff'),
    url('fonts/icomoon.svg?uhenf1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-page:before {
  content: "\e900";
}
.icon-winner .path1:before {
  content: "\e901";
  color: rgb(255, 144, 29);
}
.icon-winner .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(247, 188, 20);
}
.icon-winner .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(247, 188, 20);
}
.icon-winner .path17:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 177, 37);
}
.icon-winner .path18:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 177, 37);
}
.icon-winner .path19:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(254, 209, 48);
}
.icon-winner .path20:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(247, 188, 20);
}
.icon-winner .path21:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(254, 209, 48);
}
.icon-winner .path22:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(247, 188, 20);
}
.icon-winner .path23:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 177, 37);
}
.icon-winner .path24:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-winner .path25:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 177, 37);
}
.icon-winner .path26:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 144, 29);
}
.icon-trophy-shape:before {
  content: "\e91b";
}
.icon-group:before {
  content: "\e91c";
}
.icon-favorite-heart-button:before {
  content: "\e91d";
}
.icon-edit:before {
  content: "\e91e";
}
.icon-pencil:before {
  content: "\e91f";
}
